<!DOCTYPE html>
<html>

<head>
    <title>K-Pop or Virus</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content=" ">
    <link rel="stylesheet" href="kpop-or-virus.css">
</head>
    
<body>
    <header>
    </header>

    <main>
        <h1>Korean Pop Band or Virus</h1>
        
        <p>The most stupid challenge to Hackers@UPC HackFromHome. Short live the COVID-19</p>
        <br>
        
        <h3>In the table 8, there are friendly coders to propose you <br> this challenge. You have to figure out if the word <br>that appears is a Korean Pop Band or a kind of real virus.<h3>
        <button><a href="word-challenge1.php">Let's start</a></button>
    </main>
    
    
</body>

</html>